// create an api key at https://platform.openai.com/
OPENAI_API_KEY=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

// Guide for setting up google OAuth2: https://wasp-lang.dev/docs/integrations/google
GOOGLE_CLIENT_ID=566122295525-epj5em243rhkv7ie7nudv4f7p3br20go.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

// you can easily set up a hosted database at https://railway.app
DATABASE_URL=https://avatars.githubusercontent.com/u/45851643?v=4

// sendGrid key for sending out emails https://sendgrid.com/
SENDGRID_API_KEY=
SEND_EMAILS_IN_DEVELOPMENT=true

// Stripe Payment Keys https://stripe.com
STRIPE_KEY=
PRODUCT_PRICE_ID=
PRODUCT_CREDITS_PRICE_ID=
